{#  @var bagder \App\Entity\User #}
<div class="cell rw-12 center night">
    {% if badger.activeTitle or badger.activeIcon %}
        <div class="badge-title">
            {% if badger.activeIcon %}<img alt="" src="{{ badger.activeIcon.customIcon ? url('app_web_customicon', {uid: badger.id, aid: badger.activeIcon.id, name: badger.activeIcon.customIconName, ext: badger.activeIcon.customIconFormat}) : asset('build/images/icons/title/' ~ badger.activeIcon.prototype.icon ~ '.gif') }}" />{% endif %}
            {% if badger.activeTitle %}<span>{{ badger.activeTitle.customTitle ?? badger|translated_title(app.user)|raw }}</span>{% endif %}
        </div><br />
    {% endif %}

    {% if user_handler.hasRole(badger, "ROLE_ADMIN") %}
        <div class="badge {{ user_handler.hasRole(badger, "ROLE_SUPER") ? 'badge-admin-master' : 'badge-admin' }}">
            <div><i class="fa fa-hammer"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Administrator'|trans({},'soul') }}</b>
                {{ 'Diese Karteikarte gehört einem Administrator. Wenn ihr darauf komische, abnormale oder gar furchteinflößende Dinge entdeckt: Das ist völlig normal. Macht euch keine Sorgen, er weiß wahrscheinlich schon Bescheid :).'|trans({},'soul') }}
            </div>
        </div>
    {% elseif user_handler.hasRole(badger, "ROLE_CROW") %}
        <div class="badge badge-crow">
            <div><i class="fa fa-crow"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Der Rabe'|trans({},'soul') }}</b>
                {{ 'Diese Karteikarte gehört einem Raben. Du solltest sie lieber wieder zurücklegen... langsam und ohne plötzliche Bewegungen.'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {% if not user_handler.hasRole(badger, "ROLE_ADMIN") %}
        {% if user_handler.hasRole(badger, "ROLE_ORACLE") %}
            <div class="badge badge-oracle">
                <div><i class="fa fa-bullhorn"></i></div>
                <div class="tooltip badge-tooltip">
                    <b>{{ 'Orakel'|trans({},'soul') }}</b>
                    {{ 'Diese Karteikarte gehört einem Orakel. Orakel sind Bindeglieder zwischen der Community und den Entwicklern. Du kannst dich bei Fragen und Problemen vertrauensvoll an sie wenden.'|trans({},'soul') }}
                </div>
            </div>
        {% endif %}

        {% if user_handler.hasRole(badger, "ROLE_ANIMAC") %}
            <div class="badge badge-animac">
                <div><i class="fas fa-broadcast-tower"></i></div>
                <div class="tooltip badge-tooltip">
                    <b>{{ 'Animateur'|trans({},'soul') }}</b>
                    {{ 'Diese Karteikarte gehört einem Animateur. Animateure organisieren und koordinieren Community-Events.'|trans({},'soul') }}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if user_handler.hasRole(badger, "ROLE_DUMMY") and not user_handler.hasRole(badger, "ROLE_CROW") %}
        <div class="badge badge-dummy">
            <div><i class="fa fa-skull-crossbones"></i></div>
            <div class="tooltip badge-tooltip">
                <b>???</b>
                {{ 'Irgend etwas erscheint an dieser Karteikarte merkwürdig...'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {#  @var bagder \App\Entity\User #}
    {% if badger.twinoidID is not null %}
        <div class="badge badge-twinoid">
            <div></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'Twinoid-Nutzer'|trans({},'soul') }}</b>
                {{ 'Dieser Spieler hat mindestens eine Seele von Twinoid importiert. Wir feuen uns, ihn bei MyHordes begrüßen zu dürfen!'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {#  @var bagder \App\Entity\User #}
    {% if user_handler.hasRole(badger, "ROLE_ETERNAL") %}
        <div class="badge badge-eternal">
            <div></div>
            <div class="tooltip badge-tooltip">
                <b>{{ 'EternalTwin-Nutzer'|trans({},'soul') }}</b>
                {{ 'Dieser Spieler verwendet einen EternalTwin-Account. Wir feuen uns, ihn bei MyHordes begrüßen zu dürfen!'|trans({},'soul') }}
            </div>
        </div>
    {% endif %}

    {% if badger.nameHistory is not null and badger.nameHistory|filter(n => n != badger.name)|length > 0 %}
        <div class="badge badge-name-history">
            <div><i class="fa fa-user-tag"></i></div>
            <div class="tooltip badge-tooltip">
                <b>{% if badger == app.user %}{{'Du hattest in der Vergangenheit folgende Spielernamen:'|trans({}, 'soul')}}{% else %}{{'{user} war in der Vergangenheit unter folgenden Namen bekannt:'|trans({'{user}': badger.name}, 'soul')}}{% endif %}</b>
                {% for name in badger.nameHistory|filter(n => n != badger.name) %}
                    {{ name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>